.cart{
width: 24px;
height: 24px;
}

.li-1{    
width: 46px;
height: 24px;
color: rgba(37, 36, 50, 1);
font-family: Inter;
font-size: 16px;
font-weight: 600;
}
.li-2{    
width: 39px;
height: 24px;
color: rgba(137, 135, 161, 1);
font-family: Inter;
font-size: 16px;
font-weight: 400;
}
.li-3{    
width: 73px;
height: 24px;
color: rgba(137, 135, 161, 1);
font-family: Inter;
font-size: 16px;
font-weight: 400;
}
.li-4{    
width: 79px;
height: 24px;
color: rgba(0, 0, 0, 1);
font-family: Inter;
font-size: 16px;
font-weight: 400;
}
body{
background: rgba(245, 248, 255, 1);
}

.banner-h-1{
font-family: Noto Serif;

font-weight: 600;
}

.banner-h-1 span{
color: rgba(233, 90, 8, 1);
}

.banner-h-2{
color: rgba(233, 90, 8, 1);
font-family: Noto Serif;
font-weight: 600;
}

.banner-p{
color: rgba(0, 0, 0, 0.5);
font-family: Inter;
font-weight: 400;
}

.main-sec-1-h{
font-family: Noto Serif;
font-weight: 600;
text-align: center;
}
.main-sec-1-h span{
color: rgba(233, 90, 8, 1);
}

.main-sec-1-p{
color: rgba(0, 0, 0, 0.5);
font-family: Inter;
font-weight: 400;
text-align: center;
}

.card-1-h3{
color: rgba(17, 17, 17, 1);
font-family: Inter;
font-weight: 500;
}

.card-1-h4{
color: rgba(17, 17, 17, 1);
font-family: Inter;
font-weight: 600;
}

.btn-1{
background: rgba(233, 90, 8, 1);
}

.btn-1 span{
color: rgba(255, 255, 255, 1);
font-family: Inter;
font-weight: 400;
}


.fs-h3{
color: rgba(0, 0, 0, 1);
font-family: Noto Serif;
font-weight: 600;
}

.fs-p{
color: rgba(0, 0, 0, 0.5);
font-family: Inter;
font-weight: 400;
}



 /* bg-[url('./assets/deal-bloom.png')] bg-cover bg-center 
 bg-[url('./assets/deal-ana.png')] bg-cover bg-center 
 bg-[url('./assets/deal-zabo.png')] bg-cover bg-center  */



 .bg-1-h3{
color: rgba(255, 255, 255, 1);
font-family: Noto Serif;
font-weight: 600;
text-align: center;
 }
 .bg-2-h3{
color: rgba(255, 255, 255, 1);
font-family: Noto Serif;
font-weight: 600;
text-align: center;
 }
 .bg-3-h3{
color: rgba(255, 255, 255, 1);
font-family: Noto Serif;
font-weight: 600;
text-align: center;
 }
 .bg-1-h5{
color: rgba(255, 255, 255, 1);
font-family: Inter;
font-weight: 400;
text-align: left;
 }
 .bg-2-h5{
color: rgba(255, 255, 255, 1);
font-family: Inter;
font-weight: 400;
text-align: left;
 }
 .bg-3-h5{
color: rgba(255, 255, 255, 1);
font-family: Inter;
font-weight: 400;
text-align: left;
 }